@media (min-width: 768px) {
  nav {
    display: flex;
    gap: 1rem;
  }

  #tips-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    gap: 1rem;
  }
}
